body, html{
  margin: 0;
  padding: 0;
}

.matches{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  height: 50vh;
  width: 100vw;

}

.column{
display: flex;
flex-direction: column;
justify-content: space-between;
justify-content: space-around;

height: 100%;
}

.match{
  border: 1px solid black;
  display: flex;
  width: 195px;
  height: 80px;
  flex-direction: column;
  justify-content: space-between;
  font-size: 13px;
}


/* #match64{
 margin-top: 135%;
} */

.teams{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.teams > div{
  width: 33%;
  height: 30%;
  margin-bottom: 3px;
}

.blue{
  background-color: blue;
  color: white;
}

.gold{
  background-color: gold;
  color: white;
}

.silver{
  background-color: silver;
  color: white;
}

.bronze{
  background-color: #CD7F32;
  color: white;
}

.vs{

}
